.card-container {
  background: white;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.card-container .rating-container,
.card-container .action-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-container section {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-container .heading-container {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-container .product-category {
  background: rgb(244, 245, 246);
  padding: 0.25rem;

}